### Test cases:

#### 1 Login
1. 141220161106
2. 'Login' REST API endpoint
3. Request endpoint with valid user and application credentials
4. Api should return access_token with status 200
5. 
6. 

#### 2 Get User
1. 141220171106
2. 'Get user' REST API endpoint
3. Request endpoint with authenticated user
4. Api should return user object with status 200
5. 
6. 

#### 3 Get all presentations
1. 161220172147
2. 'Get all presentations' REST API endpoint
3. Request endpoint with authenticated user
4. Api should return all presentations which belongs to user with status 200
5. 
6. 

#### 4 Create presentation
1. 161220172204
2. 'Create presentation' REST API endpoint
3. Request endpoint with authenticated user
4. Api should return new presentation object with status 200
5. 
6. 

#### 5 Delete presentation
1. 161220172204
2. 'Delete presentation' REST API endpoint
3. Request endpoint with authenticated user. Send id of presentation to remove
4. Api should return empty response with status 200
5. 
6. 

#### 6 Get particular presentation(s)
1. 161220172204
2. 'Delete presentation' REST API endpoint
3. Request endpoint with authenticated user. Send id(s) of required presentations
4. Api should return empty response with status 200
5. 
6. 

#### 7 Edit presentation
1. 161220172204
2. 'Delete presentation' REST API endpoint
3. Request endpoint with authenticated user. Send edited presentation object
4. Api should return empty response with status 200
5. 
6. 

#### 8 Edit slide(s)
1. 161220172204
2. 'Edit slide' REST API endpoint
3. Request endpoint with authenticated user. Send edited slide(s) object
4. Api should return empty response with status 200
5. 
6. 
